---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="container">
    <h1>About Us</h1>
    <p>
      At OnBeat Solutions, we are a team of software engineers and designers with decades of combined experience delivering solutions for enterprises and startups across software engineering, enterprise platforms, and AI‑powered analytics.
      <br>
      <br>
      We work with organizations with complex operations, helping them streamline workflows, uncover insights, and unlock new growth opportunities. We design tools and systems that support long‑term success-keeping technology in rhythm with your organization.
    </p>

  </div>
</Layout>
<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    max-width: 861px;
  }
</style>