---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="container">
    <h1>About Us</h1>
    <p>
      At OnBeat Solutions, we are a team of software engineers and designers with decades of combined experience building solutions for both enterprise organizations and startups, spanning software engineering, enterprise platforms, and AI-powered analytics. We strive to become a trusted digital systems provider for organizations with complex operations and growth opportunities, designing tools and systems that streamline workflows, unlock insights, and support long-term growth and success. Keeping technology in rhythm with your business.
    </p>

  </div>
</Layout>
<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    max-width: 861px;
  }
</style>