---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="container">
    <h1>
      Thank you for your interest.
      <br>
      We will get back to you shortly.</h1>
  </div>
</Layout>
<style>
  h1 {
    margin-top: 40px;
  }
</style>
