---
import Layout from '../layouts/Layout.astro';
import Brand from '../assets/astro.svg';
---

<Layout>
	<div id="container">
		<main>
			<header>
				<nav>
					<a class="brand" title="Stillik Brand"><img src={Brand.src} alt="Stillik Brand" /></a>

				</nav>
			</header>
			<section id="hero">
				<h1>Hero</h1>
			</section>
			<section id="what-we-do">
				<h1></h1>
			</section>
		</main>
	</div>
</Layout>
