---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="container">
		<main>
			<header>
				<nav>
					<a></a>

				</nav>
			</header>
			<section id="hero">
				<h1>Hero</h1>
			</section>
			<section id="what-we-do">
				<h1></h1>
			</section>
		</main>
	</div>
</Layout>
