---
import ContactForm from '../components/ContactForm.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="hero">
		<div class="container">
			<h1>Sync with your data. Amplify your insights.</h1>
			<h3>Streamlined operations. AI-driven insights. Aligned with your goals.</h3>
		</div>
  </section>
  <section id="what-we-do">
		<div class="container">
			<h2>What we do</h2>
			<ul class="row">
				<li>
					<h3>Build scalable data foundations</h3>
					<ul>
						<li>Resilient backend infrastructure</li>
						<li>Complex entity modeling</li>
						<li>Scalable data architecture</li>
					</ul>
				</li>

				<li>
					<h3>Intuitive tools for capturing and managing complex data</h3>
					<ul>
						<li>Dynamic forms & dashboards</li>
						<li>Clean, on-brand interfaces</li>
						<li>Performance-focused builds</li>
					</ul>
				</li>

				<li>
					<h3>Turn data into intelligent action</h3>
					<ul>
						<li>Predictive insights</li>
						<li>Workflow automation</li>
						<li>Anomaly detection</li>
					</ul>
				</li>
			</ul>
	  </div>
  </section>

	<section class="contact-us">
		<div class="container">
			<div class="row">
				<div class="contact-us__copy">
					<h3>Get in touch</h3>
				</div>
				<div class="contact-us__form">
					<ContactForm />
				</div>
			</div>
		</div>

	</section>
</Layout>

<style lang="scss">
	.contact-us {
		&__copy {
			display: flex;
			justify-content: center;
			align-items: center;

			h3 {
				text-align: center;
				color: var(--color-primary);
				font-weight: 500;
				font-size: 48px;
			}
		}

		.row {
			flex-direction: column;

			@media  screen and (min-width:768px) {
				flex-direction: row;
			}
		}

		&__copy, &__form {
			flex-grow: 1;
		}

	}

</style>
