---
import ContactForm from '../components/ContactForm.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="hero">
		<div class="container">
			<h1>Data Simplified. Insights Amplified.</h1>
			<h3>Apply your business knowledge, act on insights, and streamline operations with confidence.</h3>
		</div>
  </section>
  <section id="what-we-do">
		<div class="container">
			<h2>What we do</h2>
			<ul class="row">
				<li>
					<h3>Capture complex data and turn it into actionable insights</h3>
					<p>With dynamic forms powered by resilient infrastructure, managing multiple business entities for smarter, faster decisions.</p>
				</li>
				<li>
					<h3>Reveal patterns and anomalies with AI and thoughtful design</h3>
					<p>Uncover what matters most.</p>
				</li>
				<li>
					<h3>Deliver elegant digital solutions with seamless UI/UX</h3>
					<p>Turning complexity into clarity.</p>
				</li>
			</ul>
	  </div>
  </section>
	<section class="contact-us">
		<div class="container">
			<div class="row">
				<div class="contact-us__copy">
					<h3>Get in touch</h3>
				</div>
				<div class="contact-us__form">
					<ContactForm />
				</div>
			</div>
		</div>

	</section>
</Layout>

<style lang="scss">
	.contact-us {
		&__copy {
			display: flex;
			justify-content: center;
			align-items: center;

			h3 {
				text-align: center;
				color: var(--color-primary);
				font-weight: 500;
				font-size: 48px;
			}
		}

		.row {
			flex-direction: column;

			@media  screen and (min-width:768px) {
				flex-direction: row;
			}
		}

		&__copy, &__form {
			flex-grow: 1;
		}

	}

</style>
