---
import ContactForm from '../components/ContactForm.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="hero">
		<div class="container">
			<h1>Sync with your data. Amplify your insights.</h1>
			<h3>Custom systems designed to bring your workflows, data, and decisions into sync.</h3>
		</div>
  </section>
  <section id="what-we-do">
		<div class="container">
			<h2 class="what-we-do__heading">What we do</h2>
			<div class="what-we-do__copy">
				<p>We are a digital systems provider for organizations with complex operations and growth opportunities. We design and build custom solutions tailored to how your business operates—from internal tools to customer-facing platforms—streamlining workflows, unlocking insights, and creating new revenue potential.</p>
			</div>
			<ul class="row">
				<li>
					<h3>Scalable data foundations</h3>
					<ul>
						<li>Resilient backend infrastructure</li>
						<li>Complex entity modeling</li>
						<li>Scalable data architecture</li>
					</ul>
				</li>

				<li>
					<h3>Intuitive tools for capturing and managing complex data</h3>
					<ul>
						<li>Custom internal tools</li>
						<li>Dynamic forms & dashboards</li>
						<li>Clean, on-brand interfaces</li>
					</ul>
				</li>

				<li>
					<h3>Turn data into intelligent action with AI</h3>
					<ul>
						<li>Predictive insights</li>
						<li>Workflow automation</li>
						<li>Anomaly detection</li>
					</ul>
				</li>
			</ul>
	  </div>
  </section>

	<section class="contact-us">
		<div class="container">
			<div class="row">
				<div class="contact-us__copy">
					<h3>Get in touch</h3>
				</div>
				<div class="contact-us__form">
					<ContactForm />
				</div>
			</div>
		</div>

	</section>
</Layout>

<style lang="scss">
	.what-we-do {
		&__heading {
			text-align: center;
			margin-bottom: 1rem;
			color: var(--color-secondary);
		}

		&__copy {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin-bottom: 2rem;

			p {
				max-width: 865px;
			}
		}
	}
	.contact-us {
		&__copy {
			display: flex;
			justify-content: center;
			align-items: center;

			h3 {
				text-align: center;
				color: var(--color-primary);
				font-weight: 500;
				font-size: 48px;
			}
		}

		.row {
			flex-direction: column;

			@media  screen and (min-width:768px) {
				flex-direction: row;
			}
		}

		&__copy, &__form {
			flex-grow: 1;
		}

	}

</style>
