---
import ContactForm from '../components/ContactForm.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="hero">
		<div class="container">
			<h1>Sync with your data. Amplify your insights.</h1>
			<h3>Custom systems designed to bring your workflows, data, and decisions into sync.</h3>
		</div>
  </section>
  <section id="what-we-do">
		<div class="container">
			<h2 class="what-we-do__heading">What we do</h2>
			<div class="what-we-do__copy">
				<p>As a software solutions partner, we work alongside businesses with complex operations to design, build, and maintain custom tools—from internal systems to customer-facing platforms—that simplify workflows, uncover insights, and drive new value.</p>
			</div>
			<ul class="row">
				<li>
					<h3>Scalable data foundations</h3>
					<ul>
						<li>Resilient backend and cloud infrastructure</li>
						<li>Mapping and modeling complex workflows and entities</li>
						<li>Scalable data architecture built to grow with your business</li>
					</ul>
				</li>

				<li>
					<h3>Operational tools tailored to your business</h3>
					<ul>
						<li>Custom internal systems that match your unique workflows</li>
						<li>Dynamic dashboards and forms for actionable visibility</li>
						<li>Clean, on-brand interfaces designed for adoption</li>
					</ul>
				</li>

				<li>
					<h3>Turn data into intelligent action</h3>
					<ul>
						<li>AI-powered predictive insights for smarter decisions</li>
						<li>Workflow automation that reduces manual effort</li>
						<li>Anomaly detection and real-time monitoring for reliability</li>
					</ul>
				</li>
			</ul>
	  </div>
  </section>

	<section class="contact-us">
		<div class="container">
			<div class="row">
				<div class="contact-us__copy">
					<h3>Get in touch</h3>
				</div>
				<div class="contact-us__form">
					<ContactForm />
				</div>
			</div>
		</div>

	</section>
</Layout>

<style lang="scss">
	.what-we-do {
		&__heading {
			text-align: center;
			margin-bottom: 1rem;
			color: var(--color-secondary);
		}

		&__copy {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin-bottom: 2rem;

			p {
				max-width: 865px;
			}
		}
	}
	.contact-us {
		&__copy {
			display: flex;
			justify-content: center;
			align-items: center;

			h3 {
				text-align: center;
				color: var(--color-primary);
				font-weight: 500;
				font-size: 48px;
			}
		}

		.row {
			flex-direction: column;

			@media  screen and (min-width:768px) {
				flex-direction: row;
			}
		}

		&__copy, &__form {
			flex-grow: 1;
		}

	}

</style>
