<form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
    <input type="hidden" name="access_key" value="da30817e-8ee7-4f00-8717-6b4ab0bfab08">
    <input type="hidden" name="redirect" value={import.meta.env.PUBLIC_REDIRECT_URL}>
    <div class="form-group">
        <label for="name">Name <span class="required-asterisk">*</span></label>
        <input type="text" id="name" name="name" required autocomplete="name">
    </div>
    <div class="form-group">
        <label for="email">Email <span class="required-asterisk">*</span></label>
        <input type="email" id="email" name="email" required autocomplete="email">
    </div>
    <div class="form-group">
        <label for="message">Message <span class="required-asterisk">*</span></label>
        <textarea id="message" name="message" required autocomplete="off"></textarea>
    </div>
    <button type="submit" disabled>Submit</button>
</form>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector(".contact-form");
    const submitButton = form?.querySelector('button[type="submit"]');

    const updateButtonState = () => {
      submitButton.disabled = !form?.checkValidity();
    };

    // Disable initially
    updateButtonState();

    // Listen for input changes
    form.addEventListener("input", updateButtonState);
    form.addEventListener("change", updateButtonState);
  });
</script>
<style lang="scss">
  .contact-form {
    width: 100%;
    box-sizing: border-box;
  }
</style>
