---
import Brand from '../assets/astro.svg';
import Metronome from '../components/Metronome.astro';
const year = new Date().getFullYear();
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>OnBeat Solutions</title>
		<link rel="stylesheet" href="/src/assets/dark-theme.css" />
	</head>
	<body>
		<header>
			<nav>
				<Metronome />
				<a class="brand" title="OnBeat Brand" href="/">
					<img src={Brand.src} alt="OnBeat Brand" />
				</a>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/clients">Clients</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<div style="display: flex; align-items: center; gap: 1rem;">
				<img src={Brand.src} alt="OnBeat Brand" />
				<span class="year">&copy; {year}</span>
			</div>
			<div>
				<a class="nav-link" href="mailto:info@onbeatsolutions.com">
					info@onbeatsolutions.com
				</a>
			</div>
		</footer>
	</body>
</html>
<style lang="scss">
	.year {
		color: var(--color-muted);
	}
</style>


